Repository Microsoft/vs-threading: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.yml, azure-pipelines/official.yml

Path conditions:
  azure-pipelines.yml: any file but: doc, *.md, .vscode, .github, azure-pipelines/release.yml
  azure-pipelines/official.yml: any file but: doc, *.md, .vscode, azure-pipelines/release.yml, azure-pipelines/vs-insertion.yml

Fix link to documentation in VSTHRD111.md
  docfx/analyzers/VSTHRD111.md
Due: azure-pipelines.yml, azure-pipelines/official.yml

Merge pull request 469 from AArnott/copilot/port-change-to-library-template
  .github/copilot-instructions.md
Due: azure-pipelines/official.yml

Fix copilot instructions regarding test project suffix
  .github/copilot-instructions.md
Due: azure-pipelines/official.yml

Fix FailsInCloudTest filter after MTPv2 migration
  tools/dotnet-test-cloud.ps1
Due: azure-pipelines.yml, azure-pipelines/official.yml

Handle JoinUntilEmpty in dumpasync
  src/SosThreadingTools/DumpAsyncCommand.cs
Due: azure-pipelines.yml, azure-pipelines/official.yml

Fix missing thread blocking state
  src/SosThreadingTools/DumpAsyncCommand.cs
Due: azure-pipelines.yml, azure-pipelines/official.yml

Remove unused value.
  src/SosThreadingTools/DumpAsyncCommand.cs
Due: azure-pipelines.yml, azure-pipelines/official.yml

Adjust logic based on Copilot feedbacks.
  src/SosThreadingTools/DumpAsyncCommand.cs
Due: azure-pipelines.yml, azure-pipelines/official.yml

Add Copilot prompt to automate Library.Template updates
  .github/prompts/template-release-notes.md
  .github/prompts/update-library-template.prompt.md
Due: azure-pipelines/official.yml

Fix test filter
  .github/copilot-instructions.md
  tools/dotnet-test-cloud.ps1
Due: azure-pipelines.yml, azure-pipelines/official.yml

Update actions/checkout action to v6.0.2
  .github/workflows/docs_validate.yml
Due: azure-pipelines/official.yml

Join tasks waited by JoinableTaskCollection.JoinUntilEmpty in dumpasync result (#1538)
  src/SosThreadingTools/DumpAsyncCommand.cs
Due: azure-pipelines.yml, azure-pipelines/official.yml

Add a JTF with a token that gets cancelled when JoinTillEmptyAsync is called.
  src/Microsoft.VisualStudio.Threading/JoinableTaskCollection.cs
  src/Microsoft.VisualStudio.Threading/SelfCancellingJoinableTaskFactory.cs
  test/Microsoft.VisualStudio.Threading.Tests/SelfCancellingJoinableTaskFactoryTests.cs
Due: azure-pipelines.yml, azure-pipelines/official.yml

Add `DisposableJoinableTaskFactory`
  src/Microsoft.VisualStudio.Threading/DelegatingJoinableTaskFactory.cs
  src/Microsoft.VisualStudio.Threading/DisposableJoinableTaskFactory.cs
  src/Microsoft.VisualStudio.Threading/JoinableTaskFactory.cs
Due: azure-pipelines.yml, azure-pipelines/official.yml

Mix tests from @vivlimmsft's #1539 PR with an alternate design for a cancelable JTF
  src/Microsoft.VisualStudio.Threading/DisposableJoinableTaskFactory.cs
  src/Microsoft.VisualStudio.Threading/JoinableTaskCollection.cs
  src/Microsoft.VisualStudio.Threading/SelfCancellingJoinableTaskFactory.cs
  test/Microsoft.VisualStudio.Threading.Tests/DisposableJoinableTaskFactoryTests.cs
  test/Microsoft.VisualStudio.Threading.Tests/SelfCancellingJoinableTaskFactoryTests.cs
Due: azure-pipelines.yml, azure-pipelines/official.yml

Improve library.template merge AI prompt
  .github/prompts/template-release-notes.md
  .github/prompts/update-library-template.prompt.md
Due: azure-pipelines/official.yml

Explain how to migrate sln to slnx
  .github/prompts/template-release-notes.md
Due: azure-pipelines/official.yml

Use forward slash in md files
  .github/prompts/update-library-template.prompt.md
Due: azure-pipelines/official.yml

Touch-up custom prompt
  .github/prompts/update-library-template.prompt.md
Due: azure-pipelines/official.yml

Update network isolation policy
  azure-pipelines/archive-sourcecode.yml
  azure-pipelines/libtemplate-update.yml
  azure-pipelines/official.yml
  azure-pipelines/release.yml
  azure-pipelines/unofficial.yml
  azure-pipelines/vs-insertion.yml
  azure-pipelines/vs-validation.yml
Due: azure-pipelines.yml, azure-pipelines/official.yml

Apply suggestion from @AArnott
  docfx/analyzers/VSTHRD111.md
Due: azure-pipelines.yml, azure-pipelines/official.yml

An even better link
  docfx/analyzers/VSTHRD111.md
Due: azure-pipelines.yml, azure-pipelines/official.yml

Fix new analyzer warnings
  test/Microsoft.VisualStudio.Threading.Tests/AssertEx.cs
Due: azure-pipelines.yml, azure-pipelines/official.yml

Merge pull request #1533 from AbhitejJohn/patch-1
  docfx/analyzers/VSTHRD111.md
Due: azure-pipelines.yml, azure-pipelines/official.yml

Fix package downgrade warnings
  Directory.Packages.props
  test/IsolatedTestHost/App.config
  test/Microsoft.VisualStudio.Threading.Analyzers.Tests/Helpers/ReferencesHelper.cs
Due: azure-pipelines.yml, azure-pipelines/official.yml

Fix package downgrade warning
  test/Directory.Packages.props
Due: azure-pipelines.yml, azure-pipelines/official.yml

Fix MSB warning
  src/Microsoft.VisualStudio.Threading.JointPackage/Microsoft.VisualStudio.Threading.JointPackage.csproj
Due: azure-pipelines.yml, azure-pipelines/official.yml

Fix flaky GC-based tests in AsyncLazyTests
  test/Microsoft.VisualStudio.Threading.Tests/AsyncLazyTests.cs
Due: azure-pipelines.yml, azure-pipelines/official.yml

Add an mcp.json file
  .vscode/mcp.json
Due: none

Document `InternalsVisibleTo` ban so Copilot knows
  .github/copilot-instructions.md
Due: azure-pipelines/official.yml

Remove slow regex from threading analyzers
  src/Microsoft.VisualStudio.Threading.Analyzers/CommonInterest.cs
  src/Microsoft.VisualStudio.Threading.Analyzers/CommonInterestParsing.cs
  test/Microsoft.VisualStudio.Threading.Analyzers.Tests/CommonInterestParsingTests.cs
  test/Microsoft.VisualStudio.Threading.Analyzers.Tests/Microsoft.VisualStudio.Threading.Analyzers.Tests.csproj
  test/Microsoft.VisualStudio.Threading.Analyzers.Tests/Usings.cs
Due: azure-pipelines.yml, azure-pipelines/official.yml

Merge pull request #1551 from microsoft/copilot/sub-pr-1550
  test/Microsoft.VisualStudio.Threading.Analyzers.Tests/VSTHRD010MainThreadUsageAnalyzerTests.cs
Due: azure-pipelines.yml, azure-pipelines/official.yml

Reduce AsyncLazy value factory retention to improve GC-test stability
  src/Microsoft.VisualStudio.Threading/AsyncLazy`1.cs
Due: azure-pipelines.yml, azure-pipelines/official.yml

Re-enable some analyzer tests (#1550)
  test/Microsoft.VisualStudio.Threading.Analyzers.Tests/VSTHRD010MainThreadUsageAnalyzerTests.cs
Due: azure-pipelines.yml, azure-pipelines/official.yml

Fix VSTHRD114 not firing for null in ternary conditional expressions (#1548)
  src/Microsoft.VisualStudio.Threading.Analyzers/AbstractVSTHRD114AvoidReturningNullTaskAnalyzer.cs
  test/Microsoft.VisualStudio.Threading.Analyzers.Tests/VSTHRD114AvoidReturningNullTaskAnalyzerTests.cs
Due: azure-pipelines.yml, azure-pipelines/official.yml

Fix warning message
  tools/variables/ProfilingInputsPropsName.ps1
Due: azure-pipelines.yml, azure-pipelines/official.yml

Avoid assigning to an unused variable
  tools/Prepare-Legacy-Symbols.ps1
Due: azure-pipelines.yml, azure-pipelines/official.yml

Avoid returning early while preparing legacy symbols
  tools/Prepare-Legacy-Symbols.ps1
Due: azure-pipelines.yml, azure-pipelines/official.yml

Harden path joining in VSInsertion.ps1
  tools/artifacts/VSInsertion.ps1
Due: azure-pipelines.yml, azure-pipelines/official.yml

Disable VSTHRD010 in AppWithoutMainThread.editorconfig
  doc/editorconfigs/AppWithoutMainThread.editorconfig
Due: none
